* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(28, 28, 30);
}

.form {
  margin: 55px;
}

.input {
  padding: 10px 15px;
  width: 300px;
  background-color: transparent;
  border: 2px solid rgb(58, 58, 60);
  border-radius: 5px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.87);
  transition: border-color 0.15s ease-in-out;
}

.input:hover,
.input:focus {
  border-color: rgb(10, 132, 255);
}

.button {
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid rgb(58, 58, 60);
  border-radius: 5px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.87);
  margin-left: 15px;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out;
}

.button:hover,
.button:focus {
  border-color: rgb(10, 132, 255);
}

.list {
  list-style-type: none;
  width: 400px;
  height: 600px;
  max-height: 600px;
  border: 2px solid rgb(58, 58, 60);
  border-radius: 15px;
  overflow-y: auto;
}

.list > li {
  position: relative;
}

.list > li:not(:last-child) {
  margin-bottom: 5px;
}

.list > li > input[type="text"] {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.87);
  padding: 8px 15px 8px 46px;
  border-bottom: 2px solid rgb(58, 58, 60);
  outline: none;
}

.list > li > span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
  width: 100%;
  height: 2px;
  background-color: rgb(10, 132, 255);
  transform-origin: center center;
  transition: transform 0.2s ease-in-out;
}

.list > li > input[type="text"]:hover ~ span::before,
.list > li > input[type="text"]:focus ~ span::before {
  transform: scale(1);
}

.remove {
  position: absolute;
  padding: 4px 8px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: rgb(255, 69, 58);
  border-radius: 5px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.list > li:hover .remove,
.list > li:hover .remove,
.list > li > input[type="text"]:hover ~ .remove,
.list > li > input[type="text"]:focus ~ .remove,
.remove:hover,
.remove:focus {
  opacity: 1;
}

.checkbox__input {
  position: absolute;
  height: 0;
  width: 0;
}

.checkbox {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  height: 26px;
  width: 26px;
}

.checkmark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid rgb(58, 58, 60);
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.checkmark::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  opacity: 0;
  transform: rotate(45deg);
}

.checkbox:hover .checkmark::after,
.checkbox__input:checked ~ .checkmark::after {
  opacity: 1;
}

.checkbox__input:checked ~ .checkmark {
  background-color: rgb(48, 209, 88);
  border-color: rgb(48, 209, 88);
}

.completed {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.6) !important;
}

.empty {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 50px 0;
  color: rgba(255, 255, 255, 0.6);
}
