* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(28, 28, 30);
}

.form {
  margin: 55px;
}

.input {
  padding: 10px 15px;
  width: 300px;
  background-color: transparent;
  border: 2px solid rgb(58, 58, 60);
  border-radius: 5px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.87);
  transition: border-color 0.15s ease-in-out;
}

.input:hover,
.input:focus {
  border-color: rgb(10, 132, 255);
}

.button {
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid rgb(58, 58, 60);
  border-radius: 5px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.87);
  margin-left: 15px;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out;
}

.button:hover,
.button:focus {
  border-color: rgb(10, 132, 255);
}

.list {
  list-style-type: none;
  width: 400px;
  height: 600px;
  max-height: 600px;
  border: 2px solid rgb(58, 58, 60);
  border-radius: 15px;
  overflow-y: auto;
}

.list > li {
  position: relative;
}

.list > li:not(:last-child) {
  margin-bottom: 5px;
}

.list > li > input {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.87);
  padding: 8px 15px;
  border-bottom: 2px solid rgb(58, 58, 60);
  outline: none;
}

.list > li > span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
  width: 100%;
  height: 2px;
  background-color: rgb(10, 132, 255);
  transform-origin: center center;
  transition: transform 0.2s ease-in-out;
}

.list > li > input:hover ~ span::before,
.list > li > input:focus ~ span::before {
  transform: scale(1);
}
